:root {
  --main-color: #A0522D;
  --orange-color: #FA631A;
  --black-color: black;
  ---black-gradient: #161616;
  --dark-color: #333333;
  --grey-color: gray;
  --white-color: white;
  --white-color-gradient: #ffffff;
  --whit-o-: #FFFFFF;
  --main-transition: 0.3s;
  --main-transition: 0.6s;
}

Link {
  text-decoration: n;
}

a {
  text-decoration: none;
}

::selection {
  background-color: var(--main-color);
  color: var(--white-color-gradient);

}

/* keyframes */
@keyframes bounce {
  0% {
    transform: translateY(-50%) translateX(0);
  }

  100% {
    transform: translateY(-50%) translateX(10px);
  }
}



/* navbar style */
.navbarContent {
  background-color: var(--white-color-gradient);
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.navbarContent .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  text-align: center;
}


.dropdown {
  position: relative;
  width: 200px;
}

.navbarContent a {
  text-decoration: none;
  display: flex;
  width: 100%;
  color: var(--dark-color);
}

ul li:not(:nth-last-child(1)) {
  border-bottom: 0.5px solid var(--dark-color);
}

.dropdown-header {
  border: 1px solid var(--orange-color);
  padding: 20px 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  color: var(--dark-color);
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 30px;

}

.navLink .linkSpan {
  transition: var(--main-transition)
}


.navLink:hover .linkSpan {
  color: var(--orange-color);
}

.dropdown-header.open {
  border-bottom: none;
}

.dropdown-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid var(--orange-color);
  border-top: none;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
}


.dropdown-list li:hover {
  background-color: var(--orange-color);
  color: var(--white-color-gradient);
}

.dropdown-list li:hover a {
  color: var(--white-color-gradient);

}

.logo p {
  font-size: 2.5rem;
}

.logo .tLetter {
  background: var(--second-color);
  background: -webkit-linear-gradient(to right, var(--orange-color), var(--dark-color));
  background: linear-gradient(to right, var(--orange-color), var(--dark-color));
  background-size: 3rem;
  font-weight: bold;
  font-size: 3rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.last {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
}

.last p {
  color: var(--dark-color);
}

.last .user,
.last .store {
  display: flex;
  align-items: center;
  text-align: center;
}

.links a {
  color: var(--orange-color);
  padding: 0 1.7rem;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  align-items: center;
  text-align: center;
}

.links a::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  background-color: var(--dark-color);
  transition: 0.3s;
}

.links a:hover::after {
  width: 2px;
  height: 100%;
}

.links a:hover {
  color: var(--dark-color);
}


/* steps */
.stepCircle {
  padding-top: 10rem;
  padding-bottom: 50rem;
  height: 100vh;
  color: var(--white-color-gradient);
}

.stepCircle .container {
  position: relative;
  width: 200%;
  height: 350px;
}

.steps {
  width: fit-content;
  margin: 30px auto;
  padding: 2.5rem 2rem;
  position: relative;
  color: var(--dark-color);
}

.steps:hover {
  cursor: pointer;
  color: var(--white-color-gradient);
}

.steps::before,
.steps::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 100%;
  background-color: var(--main-color);
  transition: var(--main-transition);
  z-index: -1;
}

.steps::after {
  left: 0;
  bottom: 0;
}

.steps::before {
  right: 0;
  top: 0;
}

.steps:hover::before {
  width: 60%;
}

.steps:hover::after {
  width: 60%;
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 24px;
}

.circle {
  color: var(--orange-color);
}

.circle:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.circle:nth-child(2) {
  top: 60%;
  left: 60%;
  transform: translateY(-50%);
}

.circle:nth-child(3) {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.circle:nth-child(4) {
  top: 60%;
  right: 60%;
  transform: translateY(-50%);
}

.circle .text1,
.text2,
.text3,
.text4 {

  color: var(--dark-color);
}

.circle .text1 {
  position: absolute;
  bottom: 5rem;
  width: 30rem;
  left: 80%;
  font-size: 1.5rem;
  transform: translateX(-50%);
}

.circle .text2 {
  width: 20rem;
  font-size: 1.5rem;
  position: absolute;
  bottom: -50%;
  left: 350%;
  transform: translateX(-50%);
}

.circle .text3 {
  position: absolute;
  width: 35rem;
  bottom: -13rem;
  font-size: 1.5rem;
  left: 90%;
  transform: translateX(-50%);
}

.circle .text4 {
  width: 25rem;
  font-size: 1.5rem;
  position: absolute;
  bottom: -80%;
  left: -230%;
  transform: translateX(-50%);
}

.circle h4 {
  color: var(--orange-color);

}

.arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 60%;
  left: calc(50% - 10px);
  animation: moveArrow 2s infinite;
}

.arrow-body {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--orange-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-head {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid var(--orange-color);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes moveArrow {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  25% {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  75% {
    transform: translate(-50%, -50%) rotate(270deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


/* store style */
.add {
  background-color: #A0522D !important;
  color: var(--white-color) !important;
}

.head {
  color: var(--white-color-gradient) !important;
  background-color: var(--dark-color) !important;
}

.storeContainer {
  background-color: #333333;
  padding: 0 15rem !important;
}

.storeContainer p {
  color: var(--white-color-gradient);

}

.store {
  background-color: var(--foot-color);
}

.navIcon {
  position: relative;
  width: 5rem;
  text-align: center;
}

.navIcon .navSpan {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  padding: 0 4px;
  border-radius: 50%;
}


/* navbar style */

.Navbar {
  background-color: black;
  z-index: 400;
}

.drop .nav-link {
  color: white !important;
  background-color: var(--main-color);

}

.nav {
  align-items: center;
}

.color {
  color: white !important;
  font-size: 1.5rem !important;
  transition: var(--main-transition) !important;
  align-items: center !important;
}

.color:hover {
  color: var(--main-color) !important;
}

.cat:hover {
  transform: translateX(10px);
}

/*  shopping car style */
.price {
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
}

.table {
  margin-bottom: 50px;
  text-align: center;
  justify-content: center;
}

.product-image {
  max-height: 90px;
  max-width: 90px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.remove-button {
  margin-left: 10px;
}

/* categories styles */
.categoryStyle {
  margin: 15rem 8rem 5rem 8rem;
}

.catContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  flex-wrap: wrap;
}

.catContainer .image {
  width: 30rem;
  height: 20rem;
  padding-bottom: 3rem;
}

.catContainer .image img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.catText {
  padding-bottom: 5rem;
  text-align: center;

}

.catContainer h3 {
  color: var(--main-color);
  padding-bottom: 1.5rem;
}

.catContainer p {
  color: var(--dark-color);
  font-size: 1rem;
  padding-bottom: 1.5rem;
}

.btnSpan {
  background-color: var(--orange-color);
  padding: 1rem 3rem;
  border-radius: 30%;
  box-shadow: 5px 5px 10px 5px rgba(1, 1, 1, 0.5);

}

/* AboutUs.css */

.about-us-container {
  padding: 50px 0;
}

.about-heading {
  color: #A0522D;
  text-align: center;
  padding: 4rem 0;
  border-top: 1px solid #A0522D;
}

.aboutContainer {
  margin-top: 50px;
}

.about-text {
  margin-bottom: 30px;
}

.about-paragraph {
  color: #333333;
  font-size: 1.1rem;
}

.highlight {
  color:var(--orange-color);
  font-weight: bold;
}

.img-container {
  text-align: center;
}

.about-img {
  width: 100%;
  max-width: 100%;
}

.team-heading {
  color:var(--main-color);
  text-align: center;
  margin-top: 50px;
}

.team-section {
  margin-top: 30px;
}

.team-member {
  text-align: center;
  margin-bottom: 30px;
}

.team-member-img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.team-member-name {
  font-size: 1.2rem;
  color: #333333;
  margin-top: 10px;
}

.team-member-role {
  color: #666666;
  font-size: 1rem;
}

.social-links {
  margin-top: 10px;
}

.social-link {
  color: #A0522D;
  font-size: 1.5rem;
  margin-right: 10px;
}

.cta-section {
  text-align: center;
  margin-top: 50px;
}

.cta-heading {
  color: #A0522D;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #A0522D;
  border: none;
}

.cta-button:hover {
  background-color: #8A2BE2;
}

/* women style */
/* Fetures */
.featureContent {
  background-color: var(--light-color);
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: var(--dark-color);
}

.featureContent h1 {
  text-align: center;
  padding: 1rem;
  margin-bottom: 4rem;
}

.featureImg {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature {
  font-size: 3rem;
  font-weight: bold;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 4rem;
  position: relative;
}

.feature::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  bottom: -20px;
  left: 0;
}

.feature::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 4px;
  background-color: var(--main-color);
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.feature:hover {
  color: var(--accent-color);
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}


.featureCard {
  background-color: var(--white-color);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  perspective: 1000px;
}

.featureCard:hover {
  transform: translateY(-5px);
}

.featureCard .card-body {
  padding: 2rem;
}

.featureCard .card-title {
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.featureCard .card-text {
  font-size: 1.1rem;
}

.featureIcon {
  color: var(--main-color);
  font-size: 3rem;
  margin-bottom: 1rem;
}

.featureCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  z-index: -1;
}

.featureCard:hover .card-body {
  transform: rotateY(180deg);
}

.featureCard .card-body {
  backface-visibility: hidden;
}

/* home footer  */
.footIcons {
  color: var(--orange-color) !important;
  font-size: 1.5rem;
}

.foot p {
  color: var(--dark-color);
}

.hfoot {
  color: var(--orange-color);
}

/* Contact us style */
.contact {
  background-image: url('./images/contact.png');
  height: 50vh;
  background-size: cover;
  color: var(--white-color-gradient);
  background-position: center;
}

.contact .logoText {
  position: absolute;
  top: 0;
  left: 10%;
}

.contact-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bold;
  color: var(--main-color);
  text-align: center;
  text-shadow: 3px 3px 4px rgba(160, 82, 45, 0.5);
}

.card {
  margin-top: 3rem;
}

.title {
  color: var(--main-color);
  font-size: 2rem;
  margin-bottom: 20px;
}

.titleIcon {
  color: var(--main-color);
  font-size: 3rem;
  margin-bottom: 20px;
}

.icon {
  color: var(--main-color);
  font-size: 1.5rem;
  margin-right: 10px;
}

.para {
  color: var(--main-color);
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.contactInfo {
  text-align: left;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* footer style */
.foothr {
  border-top: 1px solid var(--main-color);
}

.footer {
  background-color: #1a1919;
  color: var(--white-color);
  font-size: 1rem;
  font-weight: bold;
  height: 4rem;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: var(--main-transition);
}

.footer:hover {
  color: var(--main-color);
  cursor: pointer;
}

.smallCards {
  display: none;
}

/* Small */
@media (max-width: 525px) {
  .storContainer {
    text-align: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 30%;

  }

  .about-us-container {
    padding: 20px 0;
  }

  .team-member {
    border: 1px solid var(--main-color);
    border-radius: 5px;
  }

  .team-member:hover {
    transition: var(--main-transition);
    scale: 1;
  }

  #navbarScroll {
    text-align: center;
  }

  .feature {
    font-size: 1.4rem;
  }

  .car {
    text-align: center;

  }

  .last {
    left: -10px;
    position: absolute;
    bottom: -50px;
  }

  .foot {
    margin-top: -20rem;
  }

  .storContainer {
    text-align: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 15%;
  }

  .categoryStyle {
    margin: 5rem 1rem 1rem 1rem;
  }

  .catContainer {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .catContainer .image {
    width: 20rem;
    height: 20rem;
    padding-bottom: 2rem;
  }

  .catContainer .image img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .catText {
    padding-bottom: 3rem;
    text-align: center;

  }

  .catContainer h3 {
    padding-bottom: 1.3rem;
  }

  .catContainer p {
    font-size: 1rem;
    padding-bottom: 1.3rem;
  }

  .dropdown {
    margin-top: 10px;
  }

  .foot {
    position: absolute;
    margin-top: -10px;
  }
}

@media (max-width: 768px) {

  .navbarContent {
    /* background-color: red; */
  }

  .about-heading {
    color:var(--main-color);
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid var(--main-color);
  }

  .last .store {
    font-size: 1.1rem;

  }

  .last .user {
    padding-left: 6rem;
    font-size: 1.1rem;
  }

  .links {
    padding: 10px 0;
  }

  .links a {
    padding: 0 0.7rem;
    font-size: 1rem;
  }

  .smallCards {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
  }

  .smallCard {
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--main-color);
    color: var(--white-color-gradient);
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
  }

  .smallCard:before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    background-image: linear-gradient(to bottom right, var(--orange-color), var(--main-color));
    border-radius: 50%;
    z-index: -1;
    transition: transform 0.5s ease-in-out;
  }

  .smallCard:hover:before {
    transform: scale(1.2);
  }

  .smallCard h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .smallCard p {
    font-size: 1.2rem;
  }

  .smallCard:hover {
    transform: translateY(-5px);
  }

  .stepCircle .container {
    width: 50%;
    display: none;
  }

  .storeContainer .logo {
    top: -8px;
    left: 4rem;
    font-size: 1rem;
    position: absolute;
    padding-bottom: 10px;
  }

  #navbarScroll {
    text-align: right;
  }

  .steps {
    font-size: 1.2rem;
    padding: 1rem 1rem;

  }

  .navbarScroll {
    right: 0;
    left: 0;
    margin-left: 130%;
    /* top: -10px; */
  }

  .car {
    justify-content: right;
  }

  .featurevid img {
    margin-bottom: 2rem;
    width: 100%;
  }

  .featureContent .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .featureContent {
    background-color: var(--light-color);
    padding-top: 1rem;
    padding-bottom: 3rem;
    color: var(--dark-color);
  }

  .featureCarts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 0fr));
    flex-wrap: wrap;
    padding-left: 4%;
    gap: 2rem;
  }

  .featureContent .cart {
    margin-right: 100px;
    width: 100%;
    padding: 1rem 0rem;
    box-shadow: 2px 3px 3px 3px rgba(1, 1, 1, 0.5);

  }

  .featureContent .cart h4 {
    font-size: 1rem;
  }

  .featureContent .cart p {
    font-size: 1rem;
    padding: 0.5rem 0.1rem;
  }

  .foot {
    margin-top: -38rem;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .navbarScroll {
    /* position: absolute; */
    right: 0;
    left: 0;
    margin-left: 100%;
    /* top: -10px; */
  }

  .car {
    justify-content: center;
  }

}

/* Large */
@media (max-width: 1200px) {
  .container {
    width: 1170px;
  }
}
